html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    min-width: 100%;
}

h1, h2 {
    font-size: 1em;
}

main {

    margin: 20px auto;
    max-width: 660px;
    padding: 5px;
}

main > div {
    border: 1px solid lightgray;
    max-width: 640px;
    padding: 5px;
}

footer {
    color: lightgray;
    margin: 10px 5px 0 0;
    text-align: right;
}

form {
    width: 640px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

input[type="range"] {
    margin: 0;
    width: 640px;
}

label {
    display: block;
    width: 640px;
}

.flip {

    transform: scaleX(-1);
}

.form-control > p {

    display: inline-block;
    font-weight: bold;

}

.form-control > span {
    margin-left: 10px;
}